<%= form_for(:search_params, url: range_search_path, method: "get", id: "simple_search_form") do |f| %>

	<%= f.label :first_name, "First Name:" %>
	<%= f.text_field :first_name %>

	<%= f.label :age_min, "Minimum Age:" %>
	<%= f.text_field :age_min %>

	<%= f.label :age_max, "Maximum Age:" %>
	<%= f.text_field :age_max %>

	<label>Looking for a virgin loser:
		<input name="search_params[is_virgin_bool]" type="hidden" value="0" />
	    <input checked="checked" type="checkbox" id="checked_box" name="search_params[is_virgin_bool]" value="1" />
	</label>

	<%= f.submit "Search" %>
<% end %>

<% if @players.empty? %>
	<p id="fail">WOPS, NOTHING TO SEARCH</p>
	<p>0 entries</p>
<% else %>

	<% @players.each do |p| %>
		<% @num_results += 1 %>
		<p id="success"><%= p.first_name %>, GR8 SUCCESS</p>
	<% end %>
		<p><%= "#{@num_results}"%></p>
<% end %>